.tableContainer {
  width: 100%;
  margin-top: 2em;

  table {
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;

    tr, td {
      padding: 5px;
      text-align: center;
      border: 1px solid #000;
    }

    .tableHeader th {
      padding: 10px 5px;
      border: 1px solid #000;
    }

    tbody tr td ul {
      list-style: disc;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    tbody tr td:first-child {
      font-weight: bold;
    }
  }
}